body{
    background-color: whitesmoke;
    margin: 0%;
}

.body-margin{
    margin: 2%;
}

header{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
header h1{
    margin: 0%;
}

nav{
    position:sticky;
    z-index: 1000; /* ensures navbar stays on top */
    top:0;
    background-color: whitesmoke;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

ul{
    list-style-type: none;
    padding: 0%;
}

aside {
  position: sticky;
  top: 5%; /* height of nav/header combined */
  background-color: rgb(255, 161, 242);
  padding: 1rem;
  padding-top: 0;
  height: fit-content; /* prevents it from stretching */
  font-size: 0.8em;
  bottom: 0;           
}

footer{
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    background-color: rgb(101, 255, 216);

    grid-column: 1 / -1;  /* from first column to last */
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  grid-gap: 1rem;
}
.posts h2{
    margin: 1%;
}
.posts img{
    position: absolute;
    top: 0;      /* distance from the top of the container */
    right: 0;    /* distance from the right edge */
    width: 20%;
    height: 100%;
    margin: 0%;
    border-radius: 10%;
}
.featured-article{
    background-color: darkgrey;
    margin-bottom: 3%;
    font-size: 150%;
    padding: 2%;
    padding-right: 50%;
}

.featured-post {
  display: flex;
  position: relative;
  align-items:flex-start; /* align top edges */
  gap: 20%;               /* space between text and image */
  background-color: lightgreen;

}

.featured-post .category{
    color:green;
}

.post-title{
    background-color: lightblue;
    position: relative;  
    display: flex;
    align-items:flex-start; /* align top edges */
    gap: 20%;
}

.post-title .category{
    color:coral;
}

.main {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 3fr 1fr; /* three equal columns and 1 */
    grid-gap: 1rem;
}

a{
    text-decoration: none;
    color:rgb(46, 126, 247);
    justify-content: space-evenly;
}

button {
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  cursor: pointer;
}

time {
  color: grey;
  font-size: small;
  font-style: oblique;
}
